<div class="container d-flex flex-column align-items-center">
  <h1 class="text-center my-5">Movies Lists 2.0</h1>
  <div class="d-flex flex-column col-10 col-md-6 col-xl-4">
    <% @lists.each do |list| %>
      <div class="rounded px-3 py-4 bg-secondary mb-2 text-center">
        <%= link_to list_path(list), class: 'text-decoration-none text-white' do %>
          <p class='mb-0'><%= list.name %></p>
        <% end %>
        <hr>
        <%= link_to 'delete', list_path(list), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?" }, class: 'btn btn-info' %>
      </div>
    <% end %>
  </div>
  <div class="col-10 col-md-6 col-xl-4">
    <%= simple_form_for @list do |f| %>
        <%= f.input :name %>
        <%= f.input :photo, as: :file %>
        <%= f.submit class: 'btn btn-dark w-100' %>
    <% end %>
  </div>
</div>
